<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 cl-lg-6">
    <%= form_for(task) do |f| %>
      
      <div class="form-group">
        <%= f.label :content, 'タスク' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :status, '優先度'%>
        <%= f.select :status, [["高","★★★"],["中","★★"],["低","★"]], class: 'form-control input-sm' %>
      </div>
      
        <%= f.submit '保存', class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>
